

body {
    background-image: url(../img/fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.background {
    width: 49.9%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

.image {
    width: 100%;
    margin-bottom: -4px;
}

@media screen and (max-width: 768px) {
    .background {
        margin-top: -3%;
        margin-left: -3%;
        margin-bottom: -3%;
        width: 105.5%;
    }

    .image {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .background {
        border: 4px solid;
    }
}